.nav-row {
	background-color: #0a161e;
	line-height: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-link {
	color: #8d97ad;
	margin-top: 2px;
}

.location-background {
	height: 576px;
	background: url("/GameFrontend/assets/images/landingpage/banner-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 2px 8px #264279;
}


.location-background::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right bottom, #dbe6f0, transparent);
	opacity: .8;
}

.s-panel{
	background: #ffffff;
	background: rgba(255, 255, 255, .8);
}

.story-background {
	/* background-color: #000000c7; */
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	color: white;
}

.sidebar-background {
	/* background-color: #000000c7; */
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	min-height: 128px;
	color: white;
}

.story, .statistics, .inventory, .players-present {
	margin: 0 10px 0 10px;
}

.box {
	background-color: lightblue;
	height: 30px;
	max-width: 30px;
	margin: 5px;
}

.inventory-boxes {
	margin-left:-4px;
}

.cta-gradient {
	background: #f2994a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.option-gradient {
	background: #6190e8; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.btn {
	border: none;
	border-radius: 0;
}

p, b, span, ul, li {
	font-family: 'Montserrat', sans-serif;
	/* color: #8d97ad; */
	color: #333;
}

.create-character, .select-character {
	margin-top: 50px;
}

.nav-link, .cta-gradient, .option-gradient{
	font-family: New Rocker;
	font-weight: normal;
	font-size: 24px;
}

.nav .nav-item:nth-child(3) .nav-link{
	color: #ebc552;
}

.cta-gradient, .option-gradient{
	font-size: 16px;
}