<!DOCTYPE html>
<html>
    <head>
        <title>Broken Blades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- WRITE VUE BELOW HERE -->
            
            
            <h1>{{ title }}</h1>
            
            <p>{{ text }}</p>
            
            
            <p v-if="error">{{ responseMessage }}</p>
            
            <button @click="createNewCharacter">Create New Character</button>
                
            
            <div v-if="createCharacter">      
                <p>{{ responseMessage }}</p>
                
                <span>Character Name: </span>
                <input type="text" name="characterName" v-model="characterName"> 
                <button @click="saveCharacter">Save Character</button>
                
            </div>
            
            <!--WRITE VUE ABOVE HERE-->
        </div>
        
        <script>
            
            
            var app = new Vue({
                el: '#app',
                data: {
                   title: 'Welcome to Broken Blades!',
                   text: 'Would you like to create a new character?',
                   responseMessage: '',
                   accountId: 1,
                   characterId: 0,
                   characterName: '',
                   createCharacter: false,
                   error: false,
                },
                methods: {
                    
                    createNewCharacter: function(){
                        
                      // AXIOS does not allow normal object in POST
                      var data = new FormData();
                      data.append("accountId", this.accountId);
                        
                      axios.post('http://localhost:8020/handle/create/character', data) // get and send account ID/ideally reference
                         .then(function (response) {
                            this.responseMessage = response.data.message;
                            this.characterId = response.data.characterId;
                            this.createCharacter = true;
                        }.bind(this))
                        .catch(function (error) {
                            this.error = true;
                            this.error = error;
                            console.log(error); // temp
                        }.bind(this));
                    },
                    
                    saveCharacter: function(){
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("name", this.characterName);

                        axios.post('http://localhost:8020/handle/update/character', data)
                             .then(function (response) {
                                var responseHere = response.data.message;
                                this.responseMessage = responseHere;
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                }
            });
        </script>
    </body>
</html>