<!DOCTYPE html>
<html>
    <head>
        <title>Broken Blades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
				 
				<!-- MASTER STYLES -->
				<link rel="stylesheet" href="/GameFrontend/css/master.css">
				
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="nav-row row">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Broken Blades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/game">Play Game</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-md cta-gradient" @click="playGame">Play Game</a>
                            </li>
                            <li>
                                <button class="btn btn-md option-gradient" @click="selectCharacter">Select Character</a>
                            </li>
                            <li>
                                <button class="btn btn-md option-gradient" @click="createNewCharacter">Create Character</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div v-if="createCharacter" class="create-character"> 
                    <div class="row justify-content-center">
                        <div class="align-self-center text-center">
                            <h2>Character Name</h2>
                            <br />
                            <br />
                            <input type="text" name="characterName" placeholder="Character Name" v-model="characterName"> 
                            <br />
                            <br />
                            <button class="btn btn-md cta-gradient" @click="saveCharacter">Save Character</button>
                        </div>
                    </div>
                </div>
                
                <div v-if="selectChar" class="select-character"> 
                    <div class="row justify-content-center">
                        <div class="align-self-center text-center">
                            <h2>Choose Your Character</h2>
                            <br />
                            <div v-for="character in characters">
                                <h3>{{ character.characterName }}</h3>
                                <button class="btn btn-md cta-gradient" @click="chooseCharacter(character.characterId, character.characterName)">Select Character</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-if="moveCharacter"> <!-- TODO: Add other conditions -->
                    <div class="row">
                        <div class="col location-background" style="background-image:url('GameFrontend/assets/images/landingpage/banner-bg.jpg')"> <!--in style to allow vue to change this -->
                            <div class=""> <!-- for usage later --> 
                                <div class="row">
                                    <div class="col-sm-10 col-md-5 offset-sm-1">
                                        <div v-if="moveCharacter"> 
                                            <div class="row story-background">
                                                <div class="story">
                                                    <b>
                                                        Story
                                                    </b>

                                                    <div v-if="locationData">
                                                        <span><b>Location:</b> {{ locationName }}</span>

                                                        <br />
                                                        <br />

                                                        <p>{{ locationDescription }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row story-background">
                                                <div class="players-present">
                                                    <b>Characters Present</b>
                                                    <div v-if="locationData">
                                                        <ul>
                                                            <li v-for="characterPresent in charactersPresent">
                                                                {{ characterPresent.name }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-4 offset-sm-1">
                                        <div class="sidebar-background row">
                                            <div class="col-6">
                                                <div class="statistics">
                                                    <b>Stats</b>
                                                    <br />
                                                    <span>HP: 5</span>
                                                    <br />
                                                    <span>STR: 7</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div v-if="inventoryData">
                                                    <div class="inventory">
                                                        <b>Inventory</b>
                                                        <div class="inventory-boxes row">  

                                                            <!--          
                                                            <div v-if="droppedLootData">
                                                                <span>Loot</span>
                                                                <br />
                                                                <ul id="droppedLootItems">
                                                                    <li v-for="droppedLootItem in droppedLootItems">
                                                                        <span v-bind:style="{ 'color': droppedLootItem.rarityColour }">{{ droppedLootItem.name }}</span> <button @click="pickUpItem(droppedLootItem.id)">Take</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            -->

                                                            <div v-for="inventoryItem in inventoryItems" 
                                                                 v-bind:style="{ 'background-color': inventoryItem.rarityColour }" 
                                                                 data-toggle="tooltip" 
                                                                 data-placement="top" 
                                                                 v-bind:title="inventoryItem.name"
                                                                 class="box col">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="moveCharacter"> 
                                            <div class="row sidebar-background">
                                                <div class="col">
                                                    <div class="statistics">
                                                        <b>Special Actions</b>
                                                        <br />
                                                        -
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="inventory">
                                                        <b>Movement</b>
                                                        <br />
                                                        <div v-if="locationData">
                                                            <button v-if="moveNorth" @click="moveCharacterNorth">Move North</button>
                                                            <button v-if="moveEast" @click="moveCharacterEast">Move East</button>
                                                            <button v-if="moveSouth" @click="moveCharacterSouth">Move South</button>
                                                            <button v-if="moveWest" @click="moveCharacterWest">Move West</button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div v-if="error">
                    <p class="align-self-center text-center" style="color: darkred" v-if="error">{{ responseMessage }}</p>
                </div>
                
                <div v-if="responseMessage">
                    <p class="align-self-center text-center subtitle font-light">{{ responseMessage }}</p> 
                </div>
            </div>
        </div>
                           
        <style>
            .darkened-background {
                background-color: #000000c7;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        </style>

				<script src="/GameFrontend/js/main.js"></script>

    </body>
</html>