<!DOCTYPE html>
<html>
    <head>
        <title>Broken Blades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="GameFrontend/bootstrap.min.css" rel="stylesheet">
        <!-- This page CSS -->
        <!-- Custom CSS -->
        <link href="GameFrontend/style.css" rel="stylesheet">
        <link href="GameFrontend/landing-page.css" rel="stylesheet">
    </head>
    <body>
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <div class="topbar" id="top">
                <div class="header6">
                    <div class="container po-relative">
                        <nav class="navbar navbar-expand-lg h6-nav-bar">
                            <a href="#" class="navbar-brand" style="color:white">Broken Blades</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="ti-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"> 
                                        <a class="nav-link" href="#">
                                            Home
                                        </a>
                                    </li>

                                    <li class="nav-item"> 
                                        <a class="nav-link" href="#">
                                            Game
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="page-wrapper">
                <div id="app">
                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- WRITE VUE BELOW HERE -->
                        <div class="static-slider-head" style="background-image:url(GameFrontend/assets/images/landingpage/banner-bg.jpg)"> 
                            <div v-if="introScreen">
                                <!-- ============================================================== -->
                                <!-- Static Slider 10  -->
                                <!-- ============================================================== -->
                                <div class="container">
                                    <!-- Row  -->
                                    <div class="row justify-content-center">
                                        <!-- Column -->
                                        <div class="col-lg-8 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
                                            <h1 class="title">{{ title }}</h1>
                                            <p class="subtitle font-light">{{ text }}</p> 
                                            <p style="color: darkred" v-if="error">{{ responseMessage }}</p>
                                            <button class="btn btn-outline-light m-r-20 btn-md m-t-30 font-14" @click="createNewCharacter">Create Character</a>
                                            <button class="btn btn-md m-t-30 btn-danger-gradiant font-14" @click="playGame">Play Game</a>
                                        </div>
                                        <!-- Column -->
                                    </div>
                                </div>
                            </div>
                            <div v-if="createCharacter"> 
                                <div class="container">
                                    <!-- Row  -->
                                    <div class="row justify-content-center">
                                        <!-- Column -->
                                        <div class="col-lg-8 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
                                            <h1 class="title">Character Name</h1>
                                            <p class="subtitle font-light">{{ responseMessage }}</p> 
                                            <p style="color: darkred" v-if="error">{{ responseMessage }}</p>
                                            <input type="text" name="characterName" placeholder="Character Name" v-model="characterName"> 
                                            <br />
                                            <br />
                                            <button class="btn btn-md m-t-30 btn-danger-gradiant font-14" @click="saveCharacter">Save Character</button>
                                        </div>
                                        <!-- Column -->
                                    </div>
                                </div>
                            </div>
                            <div v-if="moveCharacter"> 
                                <div class="container">
                                    <!-- Row  -->
                                    <div class="darkened-background row">
                                        <!-- Column -->
                                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                                            <div v-if="locationData">
                                                <span><b>Location:</b> {{ locationName }}</span>
                                                
                                                <br />
                                                <br />

                                                <p>{{ locationDescription }}</p>

                                                <br />

                                                <span>Characters Present: </span>

                                                <br />

                                                <ul>
                                                    <li v-for="characterPresent in charactersPresent">
                                                        {{ characterPresent.name }}
                                                    </li>
                                                </ul>

                                                <br />

                                                <button v-if="moveNorth" @click="moveCharacterNorth">Move North</button>
                                                <button v-if="moveEast" @click="moveCharacterEast">Move East</button>
                                                <button v-if="moveSouth" @click="moveCharacterSouth">Move South</button>
                                                <button v-if="moveWest" @click="moveCharacterWest">Move West</button>                
                                            </div>
                                        </div>
                                        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                                            <div v-if="droppedLootData">
                                                <span>Loot</span>
                                                <br />
                                                <ul id="droppedLootItems">
                                                    <li v-for="droppedLootItem in droppedLootItems">
                                                        <span v-bind:style="{ 'color': droppedLootItem.rarityColour }">{{ droppedLootItem.name }}</span> <button @click="pickUpItem(droppedLootItem.id)">Take</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-if="inventoryData">
                                                <!--TODO place into twig or some other templating engine for reuse?-->
                                                <span>Inventory</span>
                                                <br />
                                                <ul id="inventoryItems">
                                                    <li v-for="inventoryItem in inventoryItems">
                                                        <span v-bind:style="{ 'color': inventoryItem.rarityColour }">{{ inventoryItem.name }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--WRITE VUE ABOVE HERE-->
                    </div>
                </div>
            </div>
        </div>
                           
        <style>
            .darkened-background {
                background-color: #000000c7;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        </style>
                                    
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                   title: 'Welcome to Broken Blades!',
                   text: 'What would you like to do?',
                   responseMessage: '',
                   error: false,
                   
                   introScreen: true,

                   createCharacter: false,
                   accountId: 1,
                   characterId: 1,
                   characterName: '',
                   
                   moveCharacter: false,
                   locationData: null,
                   moveNorth: false,
                   moveEast: false,
                   moveSouth: false,
                   moveWest: false,
                   
                   droppedLootData: false,
                   dropedLootItems: false,
                   
                   inventoryItems: false,
                   inventoryData: false,
                },
                methods: {
                    
                    createNewCharacter: function() {
                        
                      this.introScreen = false;
                      
                      // AXIOS does not allow normal object in POST
                      var data = new FormData();
                      data.append("accountId", this.accountId);
                        
                      axios.post('/handle/create/character', data) // get and send account ID/ideally reference
                         .then(function (response) {
                            if (response.data.success == false) {
                                alert(response.data.message);
                            } else {
                                this.responseMessage = response.data.message;
                                this.characterId = response.data.characterId;
                                this.createCharacter = true;
                            }
                        }.bind(this))
                        .catch(function (error) {
                            this.error = true;
                            this.error = error;
                            console.log(error); // temp
                        }.bind(this));
                    },
                    
                    saveCharacter: function() {
                        
                        this.introScreen = true;
                        this.createCharacter = false;
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("name", this.characterName);

                        axios.post('/handle/update/character', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    playGame: function() {
                        this.responseMessage = '';
                        this.error = false;
                        this.introScreen = false;
                        this.createCharacter = false;
                        this.moveCharacter = true;
                        this.inventory = true;
                        this.getCharacterLocation();
                        this.getCharacterInventory();
                    },
                    
                    getCharacterLocation: function() {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);

                        axios.post('/handle/getCharacter/location', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.moveNorth = response.data.moveNorth;
                                    this.moveEast = response.data.moveEast;
                                    this.moveSouth = response.data.moveSouth;
                                    this.moveWest = response.data.moveWest;

                                    this.locationName = response.data.locationName;
                                    this.locationDescription = response.data.locationDescription;
                                    this.charactersPresent = response.data.allPlayersInLocation;

                                    this.droppedLootItems = response.data.droppedLootItems;

                                    this.locationData = true;
                                    this.droppedLootData = true;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    moveCharacterAround: function(moveTo) {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("moveTo", moveTo);
                        
                        axios.post('/handle/moveCharacter/location', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.moveNorth = response.data.moveNorth;
                                    this.moveEast = response.data.moveEast;
                                    this.moveSouth = response.data.moveSouth;
                                    this.moveWest = response.data.moveWest;

                                    this.locationName = response.data.locationName;
                                    this.locationDescription = response.data.locationDescription;
                                    this.charactersPresent = response.data.allPlayersInLocation;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    moveCharacterNorth: function() {
                        this.moveCharacterAround(this.moveNorth);
                    },
                    
                    moveCharacterEast: function() {
                        this.moveCharacterAround(this.moveEast);
                    },
                    
                    moveCharacterSouth: function() {
                        this.moveCharacterAround(this.moveSouth);
                    },
                    
                    moveCharacterWest: function() {
                        this.moveCharacterAround(this.moveWest);
                    },
                    
                    getCharacterInventory: function() {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);

                        axios.post('/handle/getCharacter/inventory', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                     
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.inventoryItems = response.data.characterInventoryItems;
                                    this.inventoryData = true;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    pickUpItem: function(itemId) {
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("itemId", itemId);

                        axios.post('/handle/addCharacter/item', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                            
                        this.getCharacterInventory(); // refresh inventory from server
                    }
                }
            });
        </script>
    </body>
</html>