<!DOCTYPE html>
<html>
    <head>
        <title>Broken Blades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat|New+Rocker" rel="stylesheet">
				 
        <!-- MASTER STYLES -->
        <link rel="stylesheet" href="/GameFrontend/css/master.css">
				
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="nav-row row">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Broken Blades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/game">Play Game</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-md cta-gradient" @click="playGame">Play Game</a>
                            </li>
                            <li>
                                <button class="btn btn-md option-gradient" @click="selectCharacter">Select Character</a>
                            </li>
                            <li>
                                <button class="btn btn-md option-gradient" @click="createNewCharacter">Create Character</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div v-if="createCharacter" class="create-character"> 
                    <div class="row justify-content-center">
                        <div class="align-self-center text-center">
                            <h2>Character Name</h2>
                            <br />
                            <br />
                            <input type="text" name="characterName" placeholder="Character Name" v-model="characterName"> 
                            <br />
                            <br />
                            <button class="btn btn-md cta-gradient" @click="saveCharacter">Save Character</button>
                        </div>
                    </div>
                </div>
                
                <div v-if="selectChar" class="select-character"> 
                    <div class="row justify-content-center">
                        <div class="align-self-center text-center">
                            <h2>Choose Your Character</h2>
                            <br />
                            <div v-for="character in characters">
                                <h3>{{ character.characterName }}</h3>
                                <button class="btn btn-md cta-gradient" @click="chooseCharacter(character.characterId, character.characterName)">Select Character</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-if="moveCharacter"> <!-- TODO: Add other conditions -->
                    <div class="row">
                        <div class="col location-background"> <!--in style to allow vue to change this -->
                            <div class=""> <!-- for usage later --> 
                                <div class="row">
                                    <div class="col-sm-10 col-md-5 offset-sm-1">
                                        <div v-if="moveCharacter"> 
                                            <div class="row story-background s-panel">
                                                <div class="story">
                                                    <b>
                                                        Story
                                                    </b>

                                                    <div v-if="locationData">
                                                        <span><b>Location:</b> {{ locationName }}</span>

                                                        <br />
                                                        <br />

                                                        <p>{{ locationDescription }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row story-background s-panel">
                                                <div class="players-present">
                                                    <b>Characters Present</b>
                                                    <div v-if="locationData">
                                                        <ul>
                                                            <li v-for="characterPresent in charactersPresent">
                                                                {{ characterPresent.name }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-4 offset-sm-1">
                                        <div class="sidebar-background row s-panel">
                                            <div class="col-6">
                                                <div class="statistics">
                                                    <b>Stats</b>
                                                    <br />
                                                    <span>HP: 5</span>
                                                    <br />
                                                    <span>STR: 7</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div v-if="inventoryData">
                                                    <div class="inventory">
                                                        <b>Inventory</b>
                                                        <div class="inventory-boxes row">  

<!--                                                                      
                                                            <div v-if="droppedLootData">
                                                                <span>Loot</span>
                                                                <br />
                                                                <ul id="droppedLootItems">
                                                                    <li v-for="droppedLootItem in droppedLootItems">
                                                                        <span v-bind:style="{ 'color': droppedLootItem.rarityColour }">{{ droppedLootItem.name }}</span> <button @click="pickUpItem(droppedLootItem.id)">Take</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            -->

                                                            <div v-for="inventoryItem in inventoryItems" 
                                                                 v-bind:style="{ 'background-color': inventoryItem.rarityColour }" 
                                                                 data-toggle="tooltip" 
                                                                 data-placement="top" 
                                                                 v-bind:title="inventoryItem.name"
                                                                 class="box col">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="moveCharacter"> 
                                            <div class="row sidebar-background s-panel">
                                                <div class="col">
                                                    <div class="statistics">
                                                        <b>Special Actions</b>
                                                        <br />
                                                        -
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="inventory">
                                                        <b>Movement</b>
                                                        <br />
                                                        <div v-if="locationData">
                                                            <button v-if="moveNorth" @click="moveCharacterNorth">Move North</button>
                                                            <button v-if="moveEast" @click="moveCharacterEast">Move East</button>
                                                            <button v-if="moveSouth" @click="moveCharacterSouth">Move South</button>
                                                            <button v-if="moveWest" @click="moveCharacterWest">Move West</button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div v-if="error">
                    <p class="align-self-center text-center" style="color: darkred" v-if="error">{{ responseMessage }}</p>
                </div>
                
                <div v-if="responseMessage">
                    <p class="align-self-center text-center subtitle font-light">{{ responseMessage }}</p> 
                </div>
            </div>
        </div>
                           
        <style>
            .darkened-background {
                background-color: #000000c7;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        </style>
                                    
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                   title: 'Welcome to Broken Blades!',
                   text: 'What would you like to do?',
                   responseMessage: '',
                   error: false,
                   
                   introScreen: true,

                   createCharacter: false,
                   accountId: 1,
                   characterId: 1,
                   characterName: '',
                   
                   selectChar: false,
                   characters: false,
                   
                   moveCharacter: false,
                   locationData: null,
                   moveNorth: false,
                   moveEast: false,
                   moveSouth: false,
                   moveWest: false,
                   
                   droppedLootData: false,
                   dropedLootItems: false,
                   
                   inventoryItems: false,
                   inventoryData: false,
                },
                methods: {
                    
                    clearAllTemplates: function() {
                        this.introScreen = false;
                        this.error = false;
                        this.responseMessage = false;
                        this.createCharacter = false;
                        this.moveCharacter = false;
                        this.inventory = false;
                        this.selectChar = false;
                    },
                    
                    switchTemplate: function(chosenTemplate) {
                        switch (chosenTemplate) {
                            case 'createNewCharacter': 
                                this.clearAllTemplates();
                                this.createCharacter = true;
                                this.responseMessage = 'Please name your new character.';
                                break;
                            case 'saveCharacter': 
                                this.clearAllTemplates();
                                this.introScreen = true;
                                break;
                            case 'playGame':
                                this.clearAllTemplates();
                                this.moveCharacter = true;
                                this.inventory = true;
                                break;
                            case 'moveCharacter':
                                this.clearAllTemplates();
                                break;
                            case 'selectCharacter':
                                this.clearAllTemplates();
                                this.selectChar = true;
                                break;
                        }
                    },
                    
                    createNewCharacter: function() {
                        this.switchTemplate('createNewCharacter');
                    },
                    
                    selectCharacter: function() {
                        
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        
                        axios.post('/handle/select/character', data)
                         .then(function (response) {
                            if (response.data.success == false) {
                                alert(response.data.message);
                            } else {
                                this.characters = response.data.characters;
                                
                                this.switchTemplate('selectCharacter');
                            }
                        }.bind(this))
                        .catch(function (error) {
                            this.error = error;
                            console.log(error); // temp
                        }.bind(this));
                    },
                    
                    chooseCharacter(characterId, characterName) {
                        this.characterId = characterId;
                        this.characterName = characterName;
                        
                        // now go to play game
                        this.playGame();
                    },
                    
                    saveCharacter: function() {
                        
                        this.switchTemplate('saveCharacter');
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        
                        axios.post('/handle/create/character', data) // get and send account ID/ideally reference
                         .then(function (response) {
                            if (response.data.success == false) {
                                alert(response.data.message);
                            } else {
                                this.responseMessage = response.data.message;
                                this.characterId = response.data.characterId;
                                
                                data.append("characterId", this.characterId);
                                data.append("name", this.characterName);
                                
                                axios.post('/handle/update/character', data)
                                .then(function (response) {
                                    if (response.data.success == false) {
                                       alert(response.data.message);
                                    } else {
                                       this.responseMessage = response.data.message;
                                       this.createCharacter = false;
                                    }
                                }.bind(this))
                                .catch(function (error) {
                                   this.error = error;
                                   console.log(error); // temp
                                }.bind(this));
                            }
                        }.bind(this))
                        .catch(function (error) {
                            this.error = true;
                            this.error = error;
                            console.log(error); // temp
                        }.bind(this));
                    },
                    
                    playGame: function() {
                        this.switchTemplate('playGame');
                        this.getCharacterLocation();
                        this.getCharacterInventory();
                    },
                    
                    getCharacterLocation: function() {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);

                        axios.post('/handle/getCharacter/location', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.moveNorth = response.data.moveNorth;
                                    this.moveEast = response.data.moveEast;
                                    this.moveSouth = response.data.moveSouth;
                                    this.moveWest = response.data.moveWest;

                                    this.locationName = response.data.locationName;
                                    this.locationDescription = response.data.locationDescription;
                                    this.charactersPresent = response.data.allPlayersInLocation;

                                    this.droppedLootItems = response.data.droppedLootItems;

                                    this.locationData = true;
                                    this.droppedLootData = true;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    moveCharacterAround: function(moveTo) {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("moveTo", moveTo);
                        
                        axios.post('/handle/moveCharacter/location', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.moveNorth = response.data.moveNorth;
                                    this.moveEast = response.data.moveEast;
                                    this.moveSouth = response.data.moveSouth;
                                    this.moveWest = response.data.moveWest;

                                    this.locationName = response.data.locationName;
                                    this.locationDescription = response.data.locationDescription;
                                    this.charactersPresent = response.data.allPlayersInLocation;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    moveCharacterNorth: function() {
                        this.moveCharacterAround(this.moveNorth);
                    },
                    
                    moveCharacterEast: function() {
                        this.moveCharacterAround(this.moveEast);
                    },
                    
                    moveCharacterSouth: function() {
                        this.moveCharacterAround(this.moveSouth);
                    },
                    
                    moveCharacterWest: function() {
                        this.moveCharacterAround(this.moveWest);
                    },
                    
                    getCharacterInventory: function() {
                        
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);

                        axios.post('/handle/getCharacter/inventory', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                    this.inventoryItems = false;
                                    this.inventoryData = true;
                                } else {
                                    this.responseMessage = response.data.message;

                                    this.inventoryItems = response.data.characterInventoryItems;
                                    this.inventoryData = true;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                    },
                    
                    pickUpItem: function(itemId) {
                        // AXIOS does not allow normal object in POST
                        var data = new FormData();
                        data.append("accountId", this.accountId);
                        data.append("characterId", this.characterId);
                        data.append("itemId", itemId);

                        axios.post('/handle/addCharacter/item', data)
                             .then(function (response) {
                                if (response.data.success == false) {
                                   alert(response.data.message);
                                } else {
                                    this.responseMessage = response.data.message;
                                }
                            }.bind(this))
                            .catch(function (error) {
                                this.error = true;
                                this.error = error;
                                console.log(error); // temp
                            }.bind(this));
                            
                        this.getCharacterInventory(); // refresh inventory from server
                    }
                }
            });
        </script>
    </body>
</html>